<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Welcome to Fly Right Airline-Sign Up</title>
</head>
<body>

<main layout:fragment="content" class="main-margin-top">
    <div class="col-4 container"></div>
    <div class="container col-4">

        <div class="row mt-5 mb-5">

            <div class="">
                <div class="card">
                    <div class="card-header">
                        <h3 class="header-title">Sign Up Form</h3>
                        <h6>Already Sign up? <a href="sign_in.jsp"> Sign in</a></h6>
                    </div>

                    <div class="card-body">
                        <div th:if="${param.error}">
                            <span class="text-danger" th:text="${param.error}"></span>
                        </div>
                        <form th:action="@{/users/register}" method="post">
                            <div class="form-group">
                                <label for="userName">User Name:</label>
                                <input type="text" id="userName" name="userName" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <select name="gender" id="gender" class="form-control">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Rather not say">Rather not say</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="password">Create Password:</label>
                                <input type="password" name="password" id="password" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label for="confirmPassword">Confirm Password:</label>
                                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                            </div>



                            <lable>I accept all the <a href="#">term and conditions</a></lable>
                            <label>
                                <input type="checkbox" value="yes"> Yes
                            </label>
                            <label>
                                <input type="checkbox" value="no"> No
                            </label>

                            <button class="btn btn-primary btn-block" type="submit">Register</button>
                        </form>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>


</main>

</body>

</html>
