.logo-img {
    width: 50%;
}

.bg-img  {
    background-image: url(../images/plane2.png);
    background-repeat: no-repeat;
    background-size: fill;
    opacity: 0.8;
    background-attachment: fixed;
}

.top-nav {
    color: green;
}

.main-margin-top {
    margin-top: 90px;
}

.dashboard-margin-top{
    margin-top: 80px;
}

.sign-btn {
    background-color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 7px;
    text-decoration-color: blue;
    box-shadow: #729a45 2px 4px 2px;
    z-index: 3;
}

#sign-btn1 {
    position: absolute;
    top: 60px;
    right: 40px;
    position: fixed;
}
#sign-btn2 {
    position: absolute;
    top: 60px;
    right: 120px;
    position: fixed;
}

.sign-btn:hover {
    background-color: skyblue;
    text-decoration: wavy;
}

.add-role{
    max-width: 30%;
}

.admin-nav{
    height: 100%;
}
.flight-summary {
    border: 3px solid purple;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

#payment {
    width: 75%;
}
#master_card {
    width: 75%;
}

#cvv {
    width: 25%;
}
#pin {
    width: 25%;
}

.form-signin {
    width: 90%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    border: 2px solid blueviolet;
    border-top-right-radius: 12px;
	border-bottom-left-radius: 12px;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .centralize {
      position: absolute;
      width: auto;
  }

  #gender {
    width: 50%;
}

#message {
    width: 400px;
}