<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Welcome to Fly Right Airline-failed</title>
</head>
<body>

<main layout:fragment="content" class="main-margin-top">

    <div class="container">

        <div class="row mt-5 mb-5">
            <div class="h3 p-3 text-danger" >
                <p th:text="${failed}"></p>
            </div>

        </div>
        <div class="text-left font-weight-normal">

            <div><a th:href="@{/}">Go Back to Home Page</a></div>
        </div>

    </div>

</main>

</body>

</html>


