<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Welcome to Fly Right Airline-List of Available Flight</title>
</head>
<body>

<main layout:fragment="content" class="main-margin-top">

    <div class="container">

        <div class="col-12 row mt-5 mb-5">

            <form  th:action="${'/flights/availableFlights'}" th:object="${available_flights}"  method="get">
                <div class="p-1 col-12 row mb-3" style="border-width: 1px; border-style: solid; color: #0b2e13">
                    <div class="mr-3 col-2 m-1">
<!--                        <label>From:</label>-->
                        <input type="text" placeholder="From where" name="takeOffTime">
                    </div>
                    <div class="mr-3 ml-5 col-2 m-1">
<!--                        <label>To:</label>-->
                        <input type="text" placeholder="To where" name="destinationPoint">
                    </div>
                    <div class="mr-3 ml-5 col-2 m-1">
<!--                        <label for="departure">Departure</label>-->
                        <input type="date" name="departure" id="departure" required>
                    </div>
                    <div class=" ml-4 col-3 pt-1">
                        <button type="submit" name="submit">Search Flight</button>
                    </div>
                </div>
            </form>


            <table class="table bg-white table-hover table-striped" >
                <caption class="table-head">LIST OF AVAILABLE FLIGHTS</caption>
                <tr>
                    <th>
                        ID
                    </th>

                    <th>
                        FLIGHT NO.
                    </th>

                    <th>
                        TAKE OFF POINT
                    </th>

                    <th>
                        DESTINATION
                    </th>

                    <th>
                        TAKE OFF TIME
                    </th>

                    <th>
                        LANDING TIME
                    </th>

                    <th>
                        PRICE
                    </th>

                    <th>
                        BOOK FLIGHT
                    </th>
                </tr>

                <tr th:each="row : *{available_flights}">
                    <td th:text="${row.getId()}"></td>
                    <td th:text="${row.getFlightNumber()}"></td>
                    <td th:text="${row.getTakeOffPoint()}"></td>
                    <td th:text="${row.getDestinationPoint()}"></td>
                    <td th:text="${row.getTakeOffTime()}"></td>
                    <td th:text="${row.getLandingTime()}"></td>
                    <td th:text="${row.getPrice()}"></td>
                    <td><a th:href="@{/Bookings/bookFlight/{id}(id=${row.getId()})}"><button class="btn-info" name="button">Book</button></a></td>
                </tr>

            </table>
            <p><a th:href="@{/}">Go Back to Home Page</a> </p>

        </div>

    </div>



</main>

</body>

</html>