<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Welcome to Fly Right Airline</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/modern-business.css}">
</head>
<body>
<section layout:fragment="content" class="dashboard-margin-top">

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/dashboards/admin}">
                                <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/aircrafts/create}">
                                Create Aircraft
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/aircrafts/list}">
                                All Aircrafts
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/aircrafts/list}">Create Flight</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/flights/list}">All Flights</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/locations/create}">Create Location</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/locations/list}">All Locations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/bookings/list}">All Bookings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/passengers/list}">All Passengers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/roles/list}">All Roles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/users/list}">All Users</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>

                    </div>
                </div>
                <div class="p-2 add-role" style="border-width: 1px; border-style: solid; color: #0b2e13">
                    <h4>Create Role</h4>
                    <form method="post" th:action="${'/roles/add'}">
                        <div class="form-group">
                            <label>Role Name</label>
                            <input type="text" class="form-control mw-100" name="name" required>
                        </div>
                        <div >
                            <button class="btn-outline-success" name="button">Add Role</button>
                        </div>
                    </form>
                </div>
                <!--                <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>-->

                <h2>List of All Roles</h2>
                <table class="table table-striped table-sm">
                    <caption class="table-head">LIST OF All ROLES</caption>
                    <tr>
                        <th>ID</th>
                        <th>ROLE NAME</th>
                        <th>EDIT</th>
                        <th>DELETE</th>
                    </tr>
                    <tr th:each="r : *{roles}">
                        <td th:text="${r.getId()}"></td>
                        <td th:text="${r.getName()}"></td>
                        <td><a th:href="@{/roles/edit/{id}(id=${r.getId()})}"><button class="btn-warning" name="button">Edit</button></a></td>
                        <td><a th:href="@{/roles/delete/{id}(id=${r.getId()})}"><button class="btn-danger" name="button">Delete</button></a></td>
                    </tr>
                </table>

                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>

            </main>
        </div>
    </div>
</section>
</body>
</html>